/* GERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: hsl(170, 100%, 26%);
  --headline: hsl(210, 11%, 15%);
  --paragraph: hsl(210, 9%, 31%);
  --brand-beige: hsl(39, 100%, 97%);
  --brand-light: hsl(148, 23%, 89%);
  --brand-light-2: hsl(180, 14%, 97%);
  --bg-light: hsl(180, 14%, 97%);
  --brand-dark: hsl(170, 100%, 14%);
  --nav-height: 7.2rem;
  font-size: 62.5%;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'DM Sans';
  font-size: 1.6rem;
  text-align: center;
  overflow: overlay;
  background-color: var(--bg-light);
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.button {
  background: var(--primary-color);
  border: none;
  border-radius: 4rem;
  margin-bottom: 6rem;
  padding: 1.6rem 3.2rem;
  width: fit-content;
  color: white;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  text-decoration: none;
}

.button:hover {
  background-color: var(--brand-dark);
  transition: background 200ms;

}

.social-links {
  display: flex;
  gap: 3.2rem;
  align-items: center;
  justify-content: center;
}

section {
  padding-block: 10rem;
}

section header h4 {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 150%;
  color: var(--primary-color);
  margin-bottom: 1.6rem;
  letter-spacing: 0.03rem;
  text-transform: uppercase;
}

section header h2 {
  font-size: 3rem;
  line-height: 3.9rem;
  color: var(--headline);
}

section header h1 {
    font-size: 3.4rem;
    color: var(--headline);
    line-height: 130%;
    margin-bottom: 2.4rem;
}

section .content p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;
  color: var(--paragraph);
}

.wrapper {
  width: min(50rem, 100%);
  margin-inline: auto;
  padding-inline: 2.4rem;
}

/* NAVIGATION */

nav {
  display: flex;
  height: var(--nav-height);
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100;
}

nav.scroll {
  background: var(--primary-color);
  
}

nav.scroll .logo path{
  fill: white;
}

nav.scroll button path{
  stroke: white;
}

nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}

/* MENU-EXPENDED*/

body.menuexpended {
  overflow: hidden;
}

body.menuexpended > :not(nav) {
  visibility: hidden;
}

.menu,
.close-menu,
body.menuexpended .open-menu {
  position: fixed;
  opacity: 0;
  visibility: hidden;
}

body.menuexpended .menu,
body.menuexpended .close-menu {
  opacity: 1;
  visibility: visible;
}

.menu {
  position: fixed;
  transform: translateX(100%);
}

body.menuexpended .menu {
  top: 0;
  left: 0;
  background: var(--primary-color);
  width: 100vw;
  height: 100vh;
  padding-top: var(--nav-height);
  transition: transform 300ms;
  transform: translateY(0);
}

.menu ul:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  margin-top: 6rem;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
}

.menu ul li a {
  color: white;
  text-decoration: none;
}

.menu .button {
  display: inline-block;
  background: hsl(0, 0%, 100%);
  border-radius: 4rem;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.3rem;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--primary-color);
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.6rem 3.2rem;
  margin-top: 4.8rem;
  margin-bottom: 5rem;
}

.menu .button:hover {
  background-color: var(--primary-color);
  color: white;
  filter: brightness(1.3);
}

body.menuexpended .logo,
body.menuexpended button {
  position: relative;
  z-index: 100;
}

body.menuexpended .logo path {
  fill: white;
}

body.menuexpended button path {
  stroke: white;
}

/* HOME */

#home::before {
  content: "";
  width: 100%;
  height: calc(76.7% + var(--nav-height));
  background-color: var(--brand-light);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#home {
  padding-block: 0;
  padding-top: calc(4.1rem + var(--nav-height));
}

#home p {
  font-size: 1.8rem;
  line-height: 150%;
  font-weight: 400;
  color: var(--paragraph);
  margin-bottom: 3.2rem;
}

#home .button {
  margin-inline: auto;
}

#home img {
  width: 26.4rem;
  display:block;
  margin-inline: auto;
  object-position: 0 2rem;
}

#home .stats {
  width: 100%;
  height: 47rem;
  padding-block: 4rem; /*padding-top + padding-bottom = padding-block */
  margin-inline: auto; /*margin-left + margin-right = margin-inline */
  background-color: var(--brand-beige);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6rem;
  border: 1px solid var(--brand-light);
  border-radius: 0.6rem;
}

#home .stat h3 {
  font-size: 4.8rem;
  line-height: 130%;
  color: var(--headline);
  margin-bottom: 0.4rem;
}

#home .stat p {
  margin: 0;
  color: var(--primary-color);
  font-size: 1.6rem;
  line-height: 150%;
}

/* SERVICES */

#services header h2 {
  margin-bottom: 6rem;
}

#services .cards {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

#services .card {
  padding: 2.4rem;
  text-align: left;
  background: white;
  border: 0.1rem solid var(--brand-light);
  border-radius: .6rem;
}

#services.card h3 {
  margin-block: 1.6rem;
}

/* DEPOIMENTS */

#depoiments {
  background-color: var(--brand-beige);
}

#depoiments header h2 {
  margin-bottom: 6rem;
}

#depoiments .boxes {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  margin-bottom: 3rem;
}

#depoiments .box {
  padding: 2.4rem;
  text-align: left;
  background: white;
  border: 0.1rem solid var(--brand-light);
  border-radius: .6rem;
}

#depoiments .box p {
  margin-block: 2rem 2rem;
}

#depoiments .client {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

#depoiments .client img {
  width: 4.2rem;
  height: 4.2rem;
  left: 3.2rem;
  top: 19.9rem;
  background-image: var(--primary-color);
  border-radius: 100rem;
}

#depoiments .client h3 {
  margin-block: 1.6rem;
  color: var(--primary-color);
}

#depoiments .dots {
  margin-bottom: 5rem;
}

#depoiments .dots ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0.8rem;
}

#depoiments .dots ul li a circle:hover {
  fill: var(--primary-color);
}

#depoiments .brands h3 {
  margin-bottom: 4.8rem;
}

#depoiments .brands .logos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#depoiments .brands .logos svg {
  margin-bottom: 5rem;
}

#depoiments .banner {
  height: 42.9rem;
}

#depoiments .banner header h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 10.4rem;
  font-size: 4rem;
  line-height: 5.2rem;
  padding-top: 10rem;
}

#depoiments .banner .content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  padding: 12rem 3.2rem;
  gap: 1.6rem;
}

/* ABOUT */

#about {
  text-align: left;
  background-color: var(--brand-light-2);
}

#about header h2 {
  margin-bottom: 2.4rem;
}

#about .content p {
  margin-top: 2.4rem;
  margin-bottom: 6rem;
}

/* CONTACT */

#contact {
  text-align: left;
}

#contact header {
  margin-bottom: 3.2rem;
}

#contact ul {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-bottom: 3.2rem;
}

#contact ul li {
  display: flex;
  align-items: center;
  gap: .8rem;
}

/* FOOTER */

footer {
  background-color: var(--primary-color);
  padding: 6rem;
  text-align: left;
  color: white;
}

footer .logo {
  display: inline-block;
  margin-bottom: 2.4rem;
}

footer .logo svg {
  width: 23.6rem;
  height: 3.1rem;
}

footer .logo path {
  fill: white;
}

footer p {
  color: var(--brand-beige);
  line-height: 2;
  margin-bottom: 3.2rem;
}

footer .social-links {
  justify-content: flex-start;
}

/* BACK TO TOP */

#backToTopButton {
  position: fixed;
  bottom: 1rem;
  right: 2rem;
  opacity: 0;
  visibility: hidden;
  transform: translateY(100%);
  transition: 200ms;
}

#backToTopButton.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* RESPONSIVO */

@media (min-width: 1024px) {
  /*Geral*/
  body {
    overflow: auto;
  }
  .wrapper {
    width: min(112rem, 100%);
    display: grid;
  }

  .col-a {
    grid-area: A;
  }

  .col-b {
    grid-area: B;
  }

  section {
    padding-block: 16rem;
  }

  section header h2 {
    font-size: 4rem;
    line-height: 5.2rem;
  }

  /* NAVIGATION */

  /* reset*/
  nav#navigation .wrapper * {
    margin: 0;
    padding: 0;
    visibility: initial;
    display: initial;
    opacity: initial;
    flex-direction: initial;
    position: initial;
    font-size: initial;
    font-weight: initial;
    transform: initial;
    color: initial;
    background-color: initial;
    filter: initial;
  }

  nav#navigation .close-menu,
  nav#navigation .open-menu,
  nav#navigation .social-links {
    display: none;
  }

  nav#navigation .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 65%;
  }

  nav#navigation .menu ul:nth-child(1) {
    display: flex;
    gap: 3.2rem;
  }

  nav#navigation .menu ul li a {
    transition: opacity .4s;
    color: var(--primary-color);
    opacity: 0.7;
  }

  nav#navigation .menu a.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2.4rem;
    border: 0.1rem solid var(--primary-color);
    border-radius: 4rem;
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-transform: uppercase;
  }

  nav#navigation .menu a.button:hover {
    background-color: var(--primary-color);
    border: none;
    color: white;
  }

  nav#navigation.scroll .menu ul li a {
    color: var(--brand-light-2);
    opacity: 0.6;
  }

  nav#navigation.scroll .menu a.button {
    border-color: white;
    color: white;
  }

  nav#navigation .menu li a.active,
  nav#navigation .menu li a:hover {
    opacity: 1;
    font-weight: 700;
  }

  nav#navigation .menu ul li a::after {
    content: '';
    width: 0%;
    height: 0.2rem;
    background-color: var(--primary-color);
    display: block;
    position: relative;
    bottom: -2rem;
    left: -0.5rem;
    transition: width 0.2s;
  }

  nav#navigation.scroll .menu ul li a::after {
    background-color: white;
  }

  nav#navigation .menu ul li a.active::after,
  nav#navigation .menu ul li a:hover::after {
    width: 100%;
    padding-inline: 0.8rem;
  }

  nav#navigation.scroll .menu ul li a.active,
  nav#navigation.scroll .menu ul li a:hover {
    opacity: 1;
  }

  nav#navigation.scroll .menu a.button.active,
  nav#navigation.scroll .menu a.button:hover {
    background-color: var(--primary-color);
    filter: brightness(1.3);
    border: none;
  }

  /* HOME */

  #home::before {
    height: calc(96% - var(--nav-height));
  }

  #home {
    padding-top: var(--nav-height);
  }

  #home .wrapper {
    grid-template-columns: 60.5rem 1fr;
    grid-template-areas: 
    'A B'
    'C C';
  }

  #home .col-a {
    text-align: left;
    align-self: center;
  }

  #home h1 {
    font-size: 5.2rem;
  }

  #home .content p {
    font-size: 1.8rem;
  }

  #home .stats {
    grid-area: C;
    height: 21rem;
    flex-direction: row;
    padding: 6rem;
    gap: 0;
  }

  #home .stats .stat + .stat {
    border-left: 1px solid var(--primary-color);
  }

  #home .stats .stat {
    flex: 1;
  }

  #home .button {
    margin: 0;
  }

  #home img {
    width: 42rem;
  }

  /* SERVICES */

  #services h2 {
    width: 47rem;
    margin-inline: auto;
  }

  #services .cards {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4rem;
  }

  #services .card {
    width: 30%;
    flex-grow: 1;
  }

  /* DEPOIMENTS */
  
  #depoiments {
    padding: 10rem;
  }

  #depoiments header h2 {
    width: 47rem;
    margin-inline: auto;
  }

  #depoiments .boxes {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4rem;
  }

  #depoiments .box {
    width: 30%;
    flex-grow: 1;
  }

  #depoiments .brands .logos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 9.9rem;
  }

  #depoiments .banner {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10rem;
  }

  #depoiments .banner header h2 {
    color: white;
    width: 70.7rem;
    height: 104px;
    padding: 9rem;
    margin-top: 5.5rem;
    text-align: left;
    font-style: normal;
  }

  #depoiments .banner .button {
    color: var(--primary-color);
    background-color: white;
    margin-top: -2rem;
  }

  #depoiments .banner .button path {
    fill: var(--primary-color);
  }

  #depoiments .banner .button:hover {
    background-color: var(--brand-light);
    border: none;
    color: var(--primary-color);
  }

  /* ABOUT */

  #about .wrapper {
    grid-template-columns: 48rem 1fr;
    grid-template-areas: 'B A';
    gap: 6.7rem;
  }

  #about .col-a {
    align-self: center;
  }

  #about .content p {
    margin-bottom: 0;
  }

  /* CONTACT */

  #contact .wrapper {
    grid-template-columns: 1fr 57.5rem;
    grid-template-areas: 'A B';
  }

  #contact h2 {
    width: 40.4rem;
  }

  /* FOOTER */

  footer {
    padding-block: 8rem;
  }
  
  footer .wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'A B';
  }

  footer .col-a {
    align-self: center;
  }

  footer .col-b {
    align-self: center;
    justify-self: flex-end;
  }

  footer p {
    margin-bottom: 0;
  }
}

@media (min-height: 620px) {
  body.menuexpended {
    overflow-y: scroll;
  }
}